In [1]:
import pandas as  pd

In [2]:
df = pd.read_pickle('original_valid_set.pkl')

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
1836,4,1,3,4,4,2,3,3,1,1,...,2,1,3,4,3,4,4,1,1,0
33737,2,1,4,1,2,4,2,1,1,3,...,1,3,3,1,2,3,4,1,4,1
31984,2,4,4,3,4,2,4,4,1,2,...,1,1,3,3,3,2,2,3,2,1
21821,1,3,3,4,2,4,1,3,2,4,...,4,3,4,1,3,3,2,2,3,1
11049,2,2,3,1,1,4,3,4,3,1,...,3,4,4,4,1,4,4,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,2,2,2,1,1,4,4,4,2,2,...,3,1,3,3,4,4,3,3,2,0
3887,4,2,3,1,1,4,3,1,3,4,...,3,1,1,4,2,4,2,4,4,0
2318,4,4,3,4,2,4,3,3,3,2,...,4,3,3,1,1,3,3,3,2,0
1102,1,3,3,4,1,3,1,1,4,2,...,2,3,2,2,1,2,4,3,2,0
453,3,1,3,1,1,2,4,2,2,4,...,4,3,4,1,1,4,1,1,2,0

In [4]:
df[df[152] == 0]

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
1836,4,1,3,4,4,2,3,3,1,1,...,2,1,3,4,3,4,4,1,1,0
2204,2,4,1,1,1,2,4,3,1,1,...,3,1,3,3,3,2,2,1,2,0
576,1,1,4,1,4,4,4,1,3,1,...,4,2,3,3,3,2,1,1,2,0
2685,2,1,4,2,1,2,2,2,1,3,...,3,1,3,2,2,4,2,3,3,0
2838,3,1,1,2,1,1,3,2,2,3,...,3,4,1,4,4,1,1,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,2,2,2,1,1,4,4,4,2,2,...,3,1,3,3,4,4,3,3,2,0
3887,4,2,3,1,1,4,3,1,3,4,...,3,1,1,4,2,4,2,4,4,0
2318,4,4,3,4,2,4,3,3,3,2,...,4,3,3,1,1,3,3,3,2,0
1102,1,3,3,4,1,3,1,1,4,2,...,2,3,2,2,1,2,4,3,2,0
453,3,1,3,1,1,2,4,2,2,4,...,4,3,4,1,1,4,1,1,2,0

In [ ]:
import pickle

# 打开.pkl文件并加载数据
with open('original_valid_set.pkl', 'rb') as file:
    data = pickle.load(file)

# 使用集合来跟踪已经存在的数据
unique_data = set()

# 用于存储去重后的数据
filtered_data = []

# 遍历加载的数据
for item in data:
    # 检查元素是否已经存在
    if item not in unique_data:
        unique_data.add(item)
        filtered_data.append(item)

# 将经过处理的数据重新保存到.pkl文件中
with open('original_valid_set.pkl', 'wb') as file:
    pickle.dump(filtered_data, file)