In [12]:
import pandas as pd
import numpy as np
df = pd.read_pickle('positive_original.pkl')
df1 = pd.read_pickle('neg_original.pkl')

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,2,2,2,1,1,2,2,1,3,2,...,1,2,2,3,3,3,1,3,1,0
1,2,2,1,3,2,1,2,4,4,4,...,3,3,3,4,3,1,4,4,4,0
2,1,1,4,1,3,3,4,4,2,1,...,2,1,3,2,2,3,3,1,2,0
3,3,4,4,2,1,1,2,4,3,3,...,2,3,3,4,3,1,3,1,4,0
4,4,1,1,3,3,2,2,2,1,1,...,2,3,3,4,3,3,1,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67304,1,3,4,1,1,4,2,4,2,1,...,3,3,4,1,2,4,2,2,1,0
67305,1,4,2,4,2,1,4,2,3,2,...,2,1,1,1,4,3,1,2,3,0
67306,3,4,3,4,1,3,4,1,4,3,...,4,2,4,1,4,4,3,2,1,0
67307,2,4,2,1,4,2,3,2,2,3,...,1,3,2,2,4,1,1,1,2,0
67308,4,1,3,4,1,4,3,1,2,4,...,4,1,3,2,2,2,3,3,3,0

In [3]:
df1

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,3,2,1,2,1,3,4,2,1,...,4,3,3,3,4,2,1,2,4,0
1,4,2,4,1,4,3,3,2,2,3,...,1,4,4,2,2,2,3,2,2,0
2,3,3,1,1,3,1,2,2,2,3,...,2,1,1,1,2,4,2,4,1,0
3,2,2,3,3,1,1,3,3,3,4,...,2,4,2,4,4,3,1,1,4,0
4,2,2,3,4,2,3,4,2,1,1,...,3,2,3,3,2,3,4,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4654,2,3,3,4,1,4,1,2,3,4,...,1,2,3,1,2,1,4,3,1,0
4655,3,3,4,1,4,1,2,3,4,2,...,4,2,3,3,2,2,3,4,3,0
4656,3,2,3,1,4,4,1,1,1,4,...,3,1,3,1,2,4,1,1,4,0
4657,3,4,2,2,1,2,2,3,1,3,...,4,4,2,4,4,2,1,2,4,0
4658,2,4,4,4,1,3,2,1,3,4,...,4,1,4,2,4,3,3,4,1,0

In [4]:
len(df)

2431327

In [5]:
df[152]=1

In [6]:
df_final = pd.concat([df, df1], axis=0)

In [7]:
def shuffle(seed, dataframe):
    length = len(dataframe)
    data_index = list(range(length))
    np.random.seed(seed)
    np.random.shuffle(data_index)
    df_temp = dataframe.iloc[data_index]
    return df_temp

new_df = shuffle(50, df_final)

In [8]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
29149,3,4,3,2,4,4,3,4,4,3,...,2,3,1,2,2,4,3,2,2,1
1848,1,2,3,2,4,1,3,4,1,4,...,4,1,2,2,3,4,3,2,2,0
63070,3,1,4,3,2,3,3,1,2,3,...,4,2,4,2,4,2,1,4,4,1
60864,1,2,4,2,4,4,3,3,1,3,...,4,4,4,2,3,3,3,2,3,1
58201,4,4,2,4,2,3,4,1,1,3,...,1,4,4,1,4,1,3,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2,3,3,1,4,1,2,1,4,4,...,2,3,2,4,1,2,1,3,3,0
2584,1,1,1,3,2,4,2,1,4,3,...,4,1,4,2,1,1,2,4,4,1
40730,3,2,4,4,1,3,4,3,3,1,...,4,3,1,1,3,2,2,2,1,1
4181,4,3,4,3,2,1,2,1,1,3,...,3,1,4,4,2,4,3,4,1,1
21999,2,4,1,3,4,1,2,2,2,3,...,3,2,3,4,1,3,2,2,1,1

In [9]:
new_df.to_pickle("240000positive125000neg.pkl")

In [10]:
df2 = pd.read_pickle('240000positive125000neg.pkl')

In [11]:
df2

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
29149,3,4,3,2,4,4,3,4,4,3,...,2,3,1,2,2,4,3,2,2,1
1848,1,2,3,2,4,1,3,4,1,4,...,4,1,2,2,3,4,3,2,2,0
63070,3,1,4,3,2,3,3,1,2,3,...,4,2,4,2,4,2,1,4,4,1
60864,1,2,4,2,4,4,3,3,1,3,...,4,4,4,2,3,3,3,2,3,1
58201,4,4,2,4,2,3,4,1,1,3,...,1,4,4,1,4,1,3,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2,3,3,1,4,1,2,1,4,4,...,2,3,2,4,1,2,1,3,3,0
2584,1,1,1,3,2,4,2,1,4,3,...,4,1,4,2,1,1,2,4,4,1
40730,3,2,4,4,1,3,4,3,3,1,...,4,3,1,1,3,2,2,2,1,1
4181,4,3,4,3,2,1,2,1,1,3,...,3,1,4,4,2,4,3,4,1,1
21999,2,4,1,3,4,1,2,2,2,3,...,3,2,3,4,1,3,2,2,1,1

In [28]:
import pandas as pd
import numpy as np
df = pd.read_pickle('positive_original.pkl')
df1 = pd.read_pickle('neg_original.pkl')
neg_df = [df1]*5
df[152]=1

In [ ]:
neg_df

In [29]:
neg_df = pd.concat(neg_df, axis=0)

In [30]:
neg_df

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,3,2,1,2,1,3,4,2,1,...,4,3,3,3,4,2,1,2,4,0
1,4,2,4,1,4,3,3,2,2,3,...,1,4,4,2,2,2,3,2,2,0
2,3,3,1,1,3,1,2,2,2,3,...,2,1,1,1,2,4,2,4,1,0
3,2,2,3,3,1,1,3,3,3,4,...,2,4,2,4,4,3,1,1,4,0
4,2,2,3,4,2,3,4,2,1,1,...,3,2,3,3,2,3,4,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4654,2,3,3,4,1,4,1,2,3,4,...,1,2,3,1,2,1,4,3,1,0
4655,3,3,4,1,4,1,2,3,4,2,...,4,2,3,3,2,2,3,4,3,0
4656,3,2,3,1,4,4,1,1,1,4,...,3,1,3,1,2,4,1,1,4,0
4657,3,4,2,2,1,2,2,3,1,3,...,4,4,2,4,4,2,1,2,4,0
4658,2,4,4,4,1,3,2,1,3,4,...,4,1,4,2,4,3,3,4,1,0

In [31]:
df_final = pd.concat([df, neg_df], axis=0)

In [32]:
new_df = shuffle(50, df_final)

In [33]:
new_df.to_pickle("240000positive635000neg.pkl")

In [34]:
df2 = pd.read_pickle('240000positive635000neg.pkl')

In [35]:
df2

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
12825,1,4,4,4,3,4,1,4,2,2,...,1,3,3,1,3,3,2,2,3,1
1806,3,2,1,4,1,2,3,1,3,2,...,1,1,3,3,3,2,2,3,2,0
963,4,3,3,3,1,4,2,4,1,3,...,3,3,1,2,1,3,3,2,1,0
9335,2,1,4,2,4,1,4,4,4,2,...,1,3,2,2,1,2,3,4,1,1
50150,3,2,3,2,3,4,2,2,3,3,...,2,4,2,4,1,3,3,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,2,3,3,1,4,1,2,1,4,4,...,2,3,2,4,1,2,1,3,3,0
2584,1,1,1,3,2,4,2,1,4,3,...,4,1,4,2,1,1,2,4,4,1
40730,3,2,4,4,1,3,4,3,3,1,...,4,3,1,1,3,2,2,2,1,1
4181,4,3,4,3,2,1,2,1,1,3,...,3,1,4,4,2,4,3,4,1,1
21999,2,4,1,3,4,1,2,2,2,3,...,3,2,3,4,1,3,2,2,1,1