In [1]:
import pandas as pd
import numpy as np

In [ ]:
pip

In [2]:
file_neg_original = pd.read_pickle('fountain_seq_neg.pkl')

In [3]:
file_neg_original

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,2,1,2,1,2,4,2,3,2,...,4,2,2,2,3,2,4,1,2,0
1,3,4,2,1,2,1,3,3,1,4,...,1,4,2,2,1,3,1,4,1,0
2,2,1,2,1,3,4,2,1,2,1,...,1,2,3,3,2,4,2,4,1,0
3,2,4,2,2,4,3,1,2,1,1,...,3,4,2,1,1,1,2,4,4,0
4,1,4,2,4,1,1,4,1,2,4,...,3,3,2,1,4,1,2,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10214,4,3,3,1,3,2,2,1,4,1,...,3,4,3,1,2,2,4,4,2,0
10215,1,4,2,1,2,4,1,2,2,2,...,1,4,1,4,1,1,3,3,2,0
10216,3,2,4,2,3,2,3,3,4,1,...,2,1,2,1,4,2,3,4,3,0
10217,3,2,2,3,1,3,3,2,2,2,...,2,3,3,2,2,4,2,4,3,0
10218,2,1,4,2,1,1,1,4,2,4,...,4,2,2,3,1,4,2,1,2,0

In [2]:
file_positive_original = pd.read_pickle('fountain_seq.pkl')

In [3]:
file_positive_original

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,2,2,1,3,2,1,2,4,4,...,1,2,1,2,3,2,2,3,3,1
1,4,1,3,3,4,4,2,1,1,2,...,2,1,4,1,1,3,3,1,1,1
2,2,1,1,2,4,3,3,1,1,1,...,2,3,2,4,1,1,2,3,3,1
3,1,1,1,2,2,4,3,1,1,4,...,1,2,4,4,1,3,2,3,4,1
4,4,4,4,2,4,2,2,1,3,1,...,2,2,4,2,1,2,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,2,1,3,3,2,2,2,1,1,1,...,1,2,2,3,4,1,3,4,2,0
3137,1,2,2,3,4,3,1,2,4,2,...,4,1,4,4,4,2,2,4,4,0
3138,4,1,2,1,1,3,2,2,2,3,...,3,2,3,3,1,4,4,4,2,0
3139,2,1,2,3,3,2,3,2,1,1,...,1,4,2,4,3,1,2,4,4,0
3140,3,4,4,2,2,1,2,2,4,1,...,1,1,4,3,1,3,1,1,4,0

In [6]:
file_positive_original[76] = 1

In [7]:
file_positive_original

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,1,2,1,2,6,1,6,1,12,5,...,2,6,13,3,10,11,10,10,12,1
1,1,6,5,2,5,10,2,5,2,13,...,13,14,3,15,13,6,4,8,11,1
2,3,9,4,3,12,14,1,9,12,12,...,7,14,11,5,10,11,10,8,9,1
3,13,11,16,5,2,15,3,1,13,16,...,13,13,10,2,2,2,7,11,4,1
4,3,11,6,3,16,9,9,1,11,5,...,10,2,15,15,3,1,14,10,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67544,11,13,16,3,14,4,6,10,2,5,...,15,7,8,14,14,11,2,12,10,1
67545,14,12,5,16,3,13,8,6,10,3,...,11,15,14,11,6,11,9,10,7,1
67546,16,3,14,4,7,14,2,13,3,12,...,5,8,13,16,2,2,5,13,10,1
67547,16,4,11,15,16,6,10,13,4,9,...,15,15,12,3,8,8,2,10,6,1
67548,10,8,8,16,9,11,10,10,13,6,...,12,4,11,8,10,11,12,12,11,1

In [6]:
file_train_dataset = pd.concat([file_neg_original, file_positive_original], axis=0)

In [7]:
file_train_dataset

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,2,1,2,1,2,4,2,3,2,...,4,2,2,2,3,2,4,1,2,0
1,3,4,2,1,2,1,3,3,1,4,...,1,4,2,2,1,3,1,4,1,0
2,2,1,2,1,3,4,2,1,2,1,...,1,2,3,3,2,4,2,4,1,0
3,2,4,2,2,4,3,1,2,1,1,...,3,4,2,1,1,1,2,4,4,0
4,1,4,2,4,1,1,4,1,2,4,...,3,3,2,1,4,1,2,3,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61774,3,3,3,2,2,1,4,1,1,2,...,2,3,2,4,1,3,1,1,2,1
61775,2,2,4,3,1,3,2,1,3,3,...,2,1,2,1,2,2,3,4,4,1
61776,1,3,3,2,3,4,1,4,4,4,...,2,2,3,3,1,1,3,1,3,1
61777,2,3,4,1,4,4,4,3,1,4,...,2,3,2,1,1,1,4,3,3,1
61778,2,4,2,4,3,4,2,4,4,3,...,1,2,2,3,3,2,4,2,2,1

In [8]:
file_train_dataset.to_pickle("fountain_seq.pkl")

In [31]:
file_train_dataset.iloc([1, 2, 3])

TypeError: unhashable type: 'list'

In [32]:
length = len(file_train_dataset)
list_index = list(range(length))
np.random.seed(123)
np.random.shuffle(list_index)
file_train_dataset = file_train_dataset.iloc[list_index]

In [33]:
file_train_dataset

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
288,2,1,1,3,1,2,2,1,2,2,...,1,4,3,4,1,1,4,3,4,0
3853,4,3,2,2,4,4,2,4,3,2,...,4,1,4,4,3,4,1,2,1,0
596,1,1,2,2,4,4,1,1,2,1,...,1,4,3,2,3,4,2,3,3,0
22901,2,3,3,4,4,1,3,1,4,1,...,1,4,2,1,2,2,4,2,4,1
55381,1,4,3,1,4,2,2,2,1,2,...,4,1,2,1,1,3,4,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37686,4,3,4,4,1,1,2,1,4,3,...,1,3,4,1,2,1,1,1,3,1
2078,2,4,4,1,1,1,4,4,1,3,...,2,3,3,4,2,3,1,3,3,0
8482,1,1,3,3,1,2,2,2,3,1,...,1,4,1,4,1,3,3,2,3,1
55502,4,2,1,4,4,1,3,2,3,2,...,4,4,3,3,3,4,3,4,3,1
26975,4,1,2,2,2,1,3,1,4,3,...,4,2,2,1,4,4,2,2,1,1

In [10]:
def shuffle(seed, dataframe):
    length = len(dataframe)
    data_index = list(range(length))
    np.random.seed(seed)
    np.random.shuffle(data_index)
    df_temp = dataframe.iloc[data_index]
    return df_temp

In [11]:
df = shuffle(123, file_train_dataset)

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
1836,4,1,3,4,4,2,3,3,1,1,...,2,1,3,4,3,4,4,1,1,0
33737,2,1,4,1,2,4,2,1,1,3,...,1,3,3,1,2,3,4,1,4,1
31984,2,4,4,3,4,2,4,4,1,2,...,1,1,3,3,3,2,2,3,2,1
21821,1,3,3,4,2,4,1,3,2,4,...,4,3,4,1,3,3,2,2,3,1
11049,2,2,3,1,1,4,3,4,3,1,...,3,4,4,4,1,4,4,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,2,2,2,1,1,4,4,4,2,2,...,3,1,3,3,4,4,3,3,2,0
3887,4,2,3,1,1,4,3,1,3,4,...,3,1,1,4,2,4,2,4,4,0
2318,4,4,3,4,2,4,3,3,3,2,...,4,3,3,1,1,3,3,3,2,0
1102,1,3,3,4,1,3,1,1,4,2,...,2,3,2,2,1,2,4,3,2,0
453,3,1,3,1,1,2,4,2,2,4,...,4,3,4,1,1,4,1,1,2,0

In [10]:
file_train_dataset.to_pickle('double_valid_set.pkl')

In [11]:
import pickle
import random
with open("neg_double_valid.pkl",'rb') as original_file:
    original_data = pickle.load(original_file)
original_data

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,1,6,1,11,15,7,1,6,8,6,...,9,14,9,10,7,2,7,16,8,0
1,13,3,15,5,10,11,5,5,2,4,...,12,8,5,11,15,3,10,10,9,0
2,3,14,9,13,16,15,7,2,10,16,...,16,11,9,5,8,13,6,5,15,0
3,3,5,1,13,6,5,3,13,6,9,...,4,12,11,3,14,9,5,14,10,0
4,11,6,5,7,5,12,14,3,11,3,...,3,13,2,5,8,4,7,10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3891,9,6,1,12,8,3,14,10,13,15,...,15,14,6,1,5,11,12,1,5,0
3892,12,2,8,12,8,2,8,5,15,9,...,4,14,5,5,4,6,7,10,5,0
3893,8,13,6,16,13,14,2,14,15,14,...,13,14,1,5,8,10,13,10,10,0
3894,10,5,7,9,15,4,4,16,7,7,...,6,15,14,1,4,4,1,15,6,0
3895,2,7,10,10,8,9,15,9,12,13,...,8,11,8,14,10,1,5,9,4,0

In [76]:
def shuffle(seed, dataframe):
    length = len(dataframe)
    data_index = list(range(length))
    np.random.seed(seed)
    np.random.shuffle(data_index)
    df_temp = dataframe.iloc[data_index]
    return df_temp

new_df = shuffle(50, original_data)

In [77]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
1725,2,4,3,3,2,2,1,3,2,3,...,3,4,3,1,4,4,2,1,4,0
265,3,3,4,3,3,4,2,2,2,4,...,4,4,1,3,3,1,2,1,1,0
1162,3,2,3,4,4,3,2,3,1,4,...,2,3,3,2,1,4,2,2,3,0
1631,4,2,2,2,4,4,3,4,2,2,...,3,3,1,3,1,4,4,4,1,0
1882,1,4,2,3,4,4,1,2,4,3,...,2,2,4,2,3,1,2,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1961,3,2,4,2,4,3,2,3,2,1,...,3,3,1,3,2,2,4,2,4,0
638,3,4,2,4,1,1,3,2,1,4,...,2,4,2,1,2,4,3,3,2,0
2252,2,4,4,1,2,3,3,3,2,4,...,1,2,2,2,3,2,2,3,2,0
1879,2,1,4,4,4,2,2,2,4,4,...,2,3,4,1,1,3,2,4,3,0
1418,4,4,1,3,1,4,3,2,4,2,...,4,1,4,1,3,2,1,1,4,0

In [78]:
idex = list(range(125000))

In [7]:
idex

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [79]:
new_df_2 = new_df.iloc[idex]

In [51]:
len(new_df_1)

15000

In [80]:
new_df_2

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
1725,2,4,3,3,2,2,1,3,2,3,...,3,4,3,1,4,4,2,1,4,0
265,3,3,4,3,3,4,2,2,2,4,...,4,4,1,3,3,1,2,1,1,0
1162,3,2,3,4,4,3,2,3,1,4,...,2,3,3,2,1,4,2,2,3,0
1631,4,2,2,2,4,4,3,4,2,2,...,3,3,1,3,1,4,4,4,1,0
1882,1,4,2,3,4,4,1,2,4,3,...,2,2,4,2,3,1,2,2,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3638,3,3,2,2,1,4,2,1,4,1,...,2,4,2,4,1,3,1,2,4,0
1328,4,3,1,1,3,1,3,2,4,1,...,4,4,1,1,1,4,2,3,4,0
3776,2,1,2,3,1,2,4,2,3,3,...,3,4,4,4,3,1,2,1,1,0
1285,2,3,4,3,1,4,2,2,1,2,...,2,1,3,2,3,3,2,2,3,0
367,1,1,4,1,1,3,3,4,2,4,...,2,2,2,3,2,3,3,3,2,0

In [73]:
new_df_1[152] = 1

C:\Users\jiang su\AppData\Local\Temp\ipykernel_19888\3701013237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_1[152] = 1

In [87]:
new_df_1

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
54476,2,1,2,3,2,1,2,4,3,1,...,2,4,1,3,3,3,1,2,2,1
11554,2,2,3,3,1,1,4,2,2,4,...,2,1,3,2,3,1,3,1,3,1
30184,4,4,2,4,1,1,3,1,2,4,...,1,3,2,2,3,2,4,2,3,1
2336,1,3,3,2,2,3,3,1,3,1,...,1,3,1,3,1,4,2,4,1,1
36359,4,4,1,4,3,4,4,4,2,4,...,1,4,4,2,1,2,4,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9452,2,2,1,2,1,3,1,2,3,3,...,1,4,3,1,1,4,3,4,2,1
46937,4,2,4,3,2,1,4,2,1,3,...,1,2,4,3,3,1,1,2,1,1
60187,2,3,2,4,2,3,4,4,1,1,...,2,4,4,1,1,1,2,2,4,1
26336,1,4,2,2,3,4,2,4,3,2,...,3,4,1,2,2,3,4,3,4,1
37105,3,2,2,4,3,2,2,3,4,2,...,3,3,1,3,2,3,3,4,2,1

In [59]:
new_df_2

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
822,3,3,3,2,3,2,4,4,3,1,...,3,3,4,1,1,4,4,1,3,0
3142,1,1,2,4,4,3,1,2,4,1,...,2,2,3,4,3,1,3,4,3,0
196,1,3,3,3,2,2,3,2,4,1,...,3,2,3,2,2,1,4,3,4,0
1203,1,4,1,4,3,3,4,1,2,4,...,1,1,2,2,3,4,2,4,4,0
367,1,1,1,2,3,4,1,4,2,3,...,1,4,2,1,1,3,3,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,1,4,3,2,4,1,2,3,3,1,...,1,2,4,2,2,1,2,3,2,0
997,1,4,1,3,4,1,2,3,4,2,...,2,4,1,3,3,2,3,2,3,0
3416,1,2,1,2,2,3,1,2,3,2,...,1,4,4,2,4,4,2,4,4,0
3136,1,1,2,4,3,3,4,1,4,3,...,2,4,3,3,3,1,2,3,3,0
1692,1,4,4,4,3,3,4,1,4,3,...,2,4,1,3,3,3,4,2,3,0

In [81]:
df_final = pd.concat([new_df_1, new_df_2], axis=0)

In [82]:
df_final

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
54476,2,1,2,3,2,1,2,4,3,1,...,2,4,1,3,3,3,1,2,2,1
11554,2,2,3,3,1,1,4,2,2,4,...,2,1,3,2,3,1,3,1,3,1
30184,4,4,2,4,1,1,3,1,2,4,...,1,3,2,2,3,2,4,2,3,1
2336,1,3,3,2,2,3,3,1,3,1,...,1,3,1,3,1,4,2,4,1,1
36359,4,4,1,4,3,4,4,4,2,4,...,1,4,4,2,1,2,4,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3638,3,3,2,2,1,4,2,1,4,1,...,2,4,2,4,1,3,1,2,4,0
1328,4,3,1,1,3,1,3,2,4,1,...,4,4,1,1,1,4,2,3,4,0
3776,2,1,2,3,1,2,4,2,3,3,...,3,4,4,4,3,1,2,1,1,0
1285,2,3,4,3,1,4,2,2,1,2,...,2,1,3,2,3,3,2,2,3,0
367,1,1,4,1,1,3,3,4,2,4,...,2,2,2,3,2,3,3,3,2,0

In [83]:
df_final_1 = shuffle(10, df_final)

In [84]:
df_final_1

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
1253,3,2,4,4,1,4,3,3,3,2,...,2,1,4,2,4,3,4,3,4,0
50281,2,1,2,4,3,1,4,4,1,3,...,2,3,1,1,3,2,3,4,1,1
2054,3,3,4,4,2,2,3,4,4,2,...,1,1,4,1,2,3,1,4,2,0
2172,1,4,2,1,3,4,2,3,4,4,...,2,2,2,1,4,2,3,2,4,0
2937,3,3,4,2,3,1,4,1,1,2,...,1,4,4,4,3,3,3,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44575,2,1,3,4,2,1,4,4,3,1,...,4,1,3,4,4,2,2,1,4,1
2630,3,1,3,3,4,2,4,2,3,2,...,3,4,2,4,1,2,1,3,4,0
8244,3,1,3,2,3,1,4,1,4,4,...,4,3,1,2,4,2,2,3,4,1
2020,4,2,3,2,3,1,4,1,2,4,...,2,2,4,1,2,4,2,4,2,0
55024,2,4,2,3,4,3,1,1,4,3,...,3,1,4,3,4,4,3,3,4,1

In [20]:
file_train_dataset.to_pickle('testdata1.pkl')

In [65]:
import pickle
import random
with open("original_all_positive_train.pkl",'rb') as original_file:
    original_data = pickle.load(original_file)
original_data

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,2,2,2,1,1,2,2,1,3,2,...,1,2,2,3,3,3,1,3,1,0
1,2,2,1,3,2,1,2,4,4,4,...,3,3,3,4,3,1,4,4,4,0
2,1,1,4,1,3,3,4,4,2,1,...,2,1,3,2,2,3,3,1,2,0
3,3,4,4,2,1,1,2,4,3,3,...,2,3,3,4,3,1,3,1,4,0
4,4,1,1,3,3,2,2,2,1,1,...,2,3,3,4,3,3,1,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67571,1,2,3,4,2,4,3,3,2,2,...,4,1,3,4,3,1,3,4,4,0
67572,4,3,2,2,4,3,3,1,3,2,...,4,3,2,2,4,3,2,2,1,0
67573,3,1,3,1,3,4,3,2,4,2,...,1,3,4,1,3,4,3,1,3,0
67574,3,1,3,4,3,2,4,2,2,2,...,1,1,3,2,4,2,3,2,1,0
67575,2,1,4,2,4,3,4,3,3,3,...,1,3,2,2,1,2,1,3,3,0

In [75]:
import pickle
import random
with open("original_all_neg_train.pkl",'rb') as original_file:
    original_data = pickle.load(original_file)
original_data

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,1,3,2,1,2,1,3,4,2,1,...,4,3,3,3,4,2,1,2,4,0
1,4,2,4,1,4,3,3,2,2,3,...,1,4,4,2,2,2,3,2,2,0
2,3,3,1,1,3,1,2,2,2,3,...,2,1,1,1,2,4,2,4,1,0
3,2,2,3,3,1,1,3,3,3,4,...,2,4,2,4,4,3,1,1,4,0
4,2,2,3,4,2,3,4,2,1,1,...,3,2,3,3,2,3,4,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4654,2,3,3,4,1,4,1,2,3,4,...,1,2,3,1,2,1,4,3,1,0
4655,3,3,4,1,4,1,2,3,4,2,...,4,2,3,3,2,2,3,4,3,0
4656,3,2,3,1,4,4,1,1,1,4,...,3,1,3,1,2,4,1,1,4,0
4657,3,4,2,2,1,2,2,3,1,3,...,4,4,2,4,4,2,1,2,4,0
4658,2,4,4,4,1,3,2,1,3,4,...,4,1,4,2,4,3,3,4,1,0